*{
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
		  box-sizing: content-box;
	font-family: 'Open Sans', sans-serif;

}
body
{
	background-color: #aaa; 
}
#contenedorMapa 
{
	height: 38em;
	padding: 0;
	margin: 0;
	position: relative;
}
#map
{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	display: none;
}
#taparMap
{
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 99;
}
#busb 
{
	margin-top: 10px;
	margin-left: 30%;
}
#busb:hover
{
	color: #aaa;
	transition: all 0.6s;
}
#opbus 
{
	width: 5em;
	display: inline;
}
#oppasajero
{
	width: 10em;
	display: inline;
}
#datobusqueda 
{
	width: 20em;
	display: inline;
}
#btnB 
{
	display: block;
	margin-top: 15px;
	margin-left: 16%;
}
