#dashboardLogo
{
    height: 50px;
    width: 50px;
    margin-left: 35%;
}
label
{
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}
hr
{
    border: 1px solid black;
}
