* 
{
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
}
body
{
    background-color: #000;
}
.nav-right
{
    float: right;
}
.label-title
{
    text-align: center;
    vertical-align: middle;
    margin-top: 1em;
    margin-bottom: 0;
}
.modal-title
{
    margin-bottom: 0;
}
.label-input 
{
    text-align: center;
}
.inputText
{
    width: 100%;
}